Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Delete Home/.claude/hooks directory
  Home/.claude/hooks/post-edit-format.py
Due: normalize

perf: optimize git author counting in git-summary (#165)
  Home/.local/bin/git-summmary.py
Due: normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Create .default-python-packages
  Home/.default-python-packages
Due: normalize

Update .default-python-packages
  Home/.default-python-packages
Due: normalize

Update tmux.conf
  Home/.config/tmux/tmux.conf
Due: normalize

Update lefthook.yml
  Home/.config/lefthook.yml
Due: yaml-lint, normalize

⚡ Parallelize repository processing in git-summary (#166)
  Home/.local/bin/git-summmary.py
Due: normalize

feat: improve ripgrep typespec completion (#167)
  Home/.config/zsh/completions/rg.zsh
Due: normalize

refactor: clean up fzf completion hacks (#169)
  Home/.config/zsh/completions/fzf-zsh-completion.zsh
Due: normalize

Update vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

Update CLAUDE.md
  CLAUDE.md
Due: normalize

Update GEMINI.md
  GEMINI.md
Due: normalize

⚡ Optimize git-summary.py: reduce subprocess calls (#174)
  .github/workflows/codeql.yml
  Home/.local/bin/git-summmary.py
Due: yaml-lint, normalize

perf: parallelize document validation in office.sh (#171)
  Home/.local/bin/office.sh
Due: shell-format, normalize

⚡ Parallelize PDF compression in office.sh (#172)
  Home/.local/bin/office.sh
Due: shell-format, normalize

⚡ Optimize pkgui AUR preview with file-based caching (#173)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

Update Home/.local/bin/sanitize.sh
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

Update 05-language-runtimes.bash
  Home/.config/bash/plugins/05-language-runtimes.bash
Due: normalize

Rename bunfig.toml to .bunfig.toml
  Home/.config/.bunfig.toml
Due: normalize

Update 01-env.bash
  Home/.config/bash/plugins/01-env.bash
Due: normalize

Update config.toml
  Home/.cargo/config.toml
Due: normalize

Update electron-flags.conf
  Home/.config/electron-flags.conf
Due: normalize

Optimize find_files_walk and fix undefined log variable
  Home/.local/bin/vidconv.py
Due: normalize

perf: replace tput with ANSI in fzf completion
  Home/.config/zsh/completions/fzf-zsh-completion.zsh
Due: normalize

Optimize find_files_walk and fix undefined log variable (#175)
  Home/.local/bin/vidconv.py
Due: normalize

Optimize fman fzf preview: replace pipe chain with bash -c
  Home/.bash_functions
Due: normalize

perf: replace tput with ANSI in fzf completion (#176)
  Home/.config/zsh/completions/fzf-zsh-completion.zsh
Due: normalize
