Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

fix(yadm): fix bootstrap setup for clean CachyOS install
  .config/yadm/bootstrap
  Home/.config/yadm/bootstrap
  pkg/aur.txt
  setup.sh
Due: shell-format, normalize

refactor: replace tuckr with stow, simplify system config deployment
  .config/yadm/bootstrap
  Home/.config/yadm/bootstrap
  pkg/aur.txt
  setup.sh
Due: shell-format, normalize

fix(yadm): robust clone flags and bootstrap exec check
  setup.sh
Due: shell-format, normalize

feat(dotfiles): add auto-commit system for disaster recovery
  .config/yadm/bootstrap
  Home/.config/systemd/user/dotfiles-autocommit.service
  Home/.config/systemd/user/dotfiles-autocommit.timer
  Home/.config/systemd/user/dotfiles-boot.service
  Home/.config/systemd/user/dotfiles-shutdown.service
  Home/.config/yadm/bootstrap
  Home/.local/bin/dotfiles-autocommit.sh
Due: shell-format, normalize

Potential fix for pull request finding
  etc/pacman.d/hooks/stop-wine-associations.hook
Due: normalize

Potential fix for pull request finding
  Home/.local/bin/dotfiles-autocommit.sh
Due: shell-format, normalize

Potential fix for pull request finding
  Home/.config/systemd/user/dotfiles-shutdown.service
Due: normalize

Claude/fix yadm setup r mv3 x (#234)
  .config/yadm/bootstrap
  Home/.config/systemd/user/dotfiles-autocommit.service
  Home/.config/systemd/user/dotfiles-autocommit.timer
  Home/.config/systemd/user/dotfiles-boot.service
  Home/.config/systemd/user/dotfiles-shutdown.service
  Home/.config/yadm/bootstrap
  Home/.local/bin/dotfiles-autocommit.sh
  setup.sh
Due: shell-format, normalize

Potential fix for pull request finding
  Home/.config/bash/plugins/01-env.bash
Due: normalize

Apply Wine and Proton performance optimizations (#233)
  Home/.config/bash/plugins/01-env.bash
  Home/.config/environment.d/gaming.conf
  docs/steam.md
  etc/environment
  etc/pacman.d/hooks/stop-wine-associations.hook
Due: normalize

Potential fix for pull request finding
  etc/modprobe.d/usbhid.conf
Due: normalize

Implement high-precision mouse and keyboard polling (#232)
  etc/modprobe.d/usbhid.conf
  etc/sdboot-manage.conf
Due: normalize

Update sudoers
  etc/sudoers
Due: normalize

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yaml-lint, normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Delete docs/LLM-PROMPTS.md
  docs/LLM-PROMPTS.md
Due: normalize

Delete tests directory
  tests/test_extract.sh
Due: shell-format, normalize

docs: add PLAN.md synthesizing all codebase TODO/FIXME markers
  PLAN.md
Due: normalize

docs: add PLAN.md synthesizing all codebase TODO/FIXME markers (#235)
  PLAN.md
Due: normalize

Update config
  Home/.config/ghostty/config
Due: normalize

Update yazi.toml
  Home/.config/yazi/yazi.toml
Due: normalize

arc raiders
  .gitignore
  AGENTS.md
  Home/.steam/arc-raiders/arc-raiders-mod.sh
  PRD.md
  TODO.md
Due: shell-format, normalize

Update settings.json
  Home/.config/Code/User/settings.json
Due: biome, normalize

Update kdeglobals
  Home/.config/kdeglobals
Due: normalize

Update Home/.local/bin/lint-format.sh
  Home/.local/bin/lint-format.sh
Due: shell-format, normalize

Create dxvk.conf
  Home/.steam/arc-raiders/dxvk.conf
Due: normalize

Create env.sh
  Home/.steam/arc-raiders/env.sh
Due: shell-format, normalize

Update steam.md
  docs/steam.md
Due: normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
