Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Delete test_output.txt
  test_output.txt
Due: normalize

Delete .markdownlint-cli2.jsonc
  .markdownlint-cli2.jsonc
Due: normalize

docs: comprehensive AGENTS.md rewrite with accurate repo analysis
  AGENTS.md
Due: normalize

docs: comprehensive AGENTS.md rewrite with accurate repo analysis (#196)
  AGENTS.md
Due: normalize

feat(pkgui): optimize AUR previews with batch pre-fetching
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

🚀 Turbo: Batch parallelize image stripping
  Home/.bash_functions
Due: normalize

Update nvidia.conf
  etc/modprobe.d/nvidia.conf
Due: normalize

Update 50-sata.rules
  etc/udev/rules.d/50-sata.rules
Due: normalize

Update makepkg.conf
  etc/makepkg.conf
Due: normalize

Update 99-gaming.conf
  etc/security/limits.d/99-gaming.conf
Due: normalize

Update chromium-flags.conf
  Home/.config/chromium-flags.conf
Due: normalize

Update electron-flags.conf
  Home/.config/electron-flags.conf
Due: normalize

Update biome.json
  Home/biome.json
Due: biome, normalize

Update Home/.local/bin/pkgui.sh
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

🚀 Turbo: Batch pre-fetch AUR previews (#197)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

Update Home/.bash_functions
  Home/.bash_functions
Due: normalize

🚀 Turbo: Batch parallelize image stripping (#198)
  Home/.bash_functions
Due: normalize

🚀 Turbo: Optimize fzf-tools preview logic
  Home/.local/bin/fzf-tools.sh
  benchmark_preview.sh
Due: shell-format, normalize

🚀 Turbo: Optimize fzf-tools preview logic (#199)
  Home/.local/bin/fzf-tools.sh
  benchmark_preview.sh
Due: shell-format, normalize

chore: Unify and cleanup Bash functions
  Home/.bash_functions
  Home/.config/bash/plugins/04-functions.bash
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

🚀 Turbo: Optimize git-summary stats collection
  Home/.local/bin/git-summmary.py
Due: normalize

🚀 Turbo: Persistent update cache for pkgui
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

Update jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: yaml-lint, normalize

Update jules-weekly-cleanup.yml
  .github/workflows/jules-weekly-cleanup.yml
Due: yaml-lint, normalize

chore: Unify and cleanup Bash functions (#200)
  Home/.bash_functions
  Home/.config/bash/plugins/04-functions.bash
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

Update Home/.local/bin/git-summmary.py
  Home/.local/bin/git-summmary.py
Due: normalize

🚀 Turbo: Optimize git-summary stats collection (#201)
  Home/.local/bin/git-summmary.py
Due: normalize

🚀 Turbo: Persistent update cache for pkgui (#202)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

fix(yadm): enable yadm clone --bootstrap and remove recursive self-call
  .config/yadm/bootstrap
Due: normalize

feat: replace setup.sh with CachyOS installer and add pkg/ package lists
  pkg/aur.txt
  pkg/bun.txt
  pkg/pacman.txt
  pkg/uv.txt
  setup.sh
Due: shell-format, normalize
