Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Update 05-language-runtimes.bash
  Home/.config/bash/plugins/05-language-runtimes.bash
Due: normalize

google
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
  etc/udev/rules.d/steelseries-perms.py
Due: yaml-lint, normalize

Create fzf2md
  Home/.local/bin/fzf2md
Due: normalize

Create rumdl.toml
  Home/.config/rumdl/rumdl.toml
Due: normalize

Create .rumdl.toml
  .rumdl.toml
Due: normalize

Update rumdl.toml
  Home/.config/rumdl/rumdl.toml
Due: normalize

Update repo-command.yml
  .github/repo-command.yml
Due: yaml-lint, normalize

Delete .rumdl.toml
  .rumdl.toml
Due: normalize

Update starship.toml
  Home/.config/starship.toml
Due: normalize

Update starship.fish
  Home/.config/fish/conf.d/starship.fish
Due: normalize

Update .blerc
  Home/.blerc
Due: normalize

Delete sgconfig.yml
  sgconfig.yml
Due: yaml-lint, normalize

Update and rename nvidia.conf to gaming.conf
  Home/.config/environment.d/gaming.conf
  Home/.config/environment.d/nvidia.conf
Due: normalize

Update environment
  etc/environment
Due: normalize

Update gaming.conf
  Home/.config/environment.d/gaming.conf
Due: normalize

Delete Home/.config/environment.d/steam.conf
  Home/.config/environment.d/steam.conf
Due: normalize

Update pacman.conf
  etc/pacman.conf
Due: normalize

Update pkgui.desktop
  Home/.local/share/applications/pkgui.desktop
Due: normalize

Update 71-nvidia.rules
  etc/udev/rules.d/71-nvidia.rules
Due: normalize

Create 50-limit-free-buffer-pool-in-wayland-compositors.json
  etc/nvidia/nvidia-application-profiles-rc.d/50-limit-free-buffer-pool-in-wayland-compositors.json
Due: biome, normalize

Update sdboot-manage.conf
  etc/sdboot-manage.conf
Due: normalize

Update nvidia.conf
  etc/modprobe.d/nvidia.conf
Due: normalize

Update zshrc.zsh
  Home/.config/zsh/zshrc.zsh
Due: normalize

Update zimrc.zsh
  Home/.config/zsh/zimrc.zsh
Due: normalize

Update deploy.sh
  Home/.config/zsh/deploy.sh
Due: shell-format, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
