Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Delete Home/.local/share/icons/reject.webp
  Home/.local/share/icons/reject.webp
Due: normalize

Rename main.webp to pixelart.webp
  Home/.local/share/icons/pixelart.webp
Due: normalize

Add files via upload
  Home/.local/share/icons/Pop-cat-closed.ico
  Home/.local/share/icons/Pop-cat-open.ico
  Home/.local/share/icons/cat.webp
  Home/.local/share/icons/main.webp
Due: normalize

Refactor scripts for linting compliance and optimization
  Home/.local/bin/auto-reencode.sh
  Home/.local/bin/ksetwallpaper.py
  Home/.local/bin/minify_font.py
  Home/.local/bin/steam-native.sh
  Home/.local/bin/wallpaper-set.sh
  Home/.local/bin/xdg-open
Due: shell-format, normalize

Create xdg-email
  Home/.local/bin/xdg-email
Due: normalize

Update xdg-open
  Home/.local/bin/xdg-open
Due: normalize

Update xdg-email
  Home/.local/bin/xdg-email
Due: normalize

Update .editorconfig
  .editorconfig
Due: normalize

Update .gitattributes
  .gitattributes
Due: normalize

Update .gitignore
  .gitignore
Due: normalize

Update paru.conf
  etc/paru.conf
Due: normalize

Update paru.conf
  Home/.config/paru/paru.conf
Due: normalize

Finalize yadm and tuckr setup
  usr/.gitkeep
  usr/README.md
Due: normalize

Add stow fallback for system config deployment
  Home/.config/yadm/bootstrap
  Home/.local/bin/deploy-system-configs.sh
  YADM.md
  setup.sh
Due: shell-format, normalize

Update dependabot.yml
  .github/dependabot.yml
Due: yaml-lint, normalize

Update Home/.local/bin/deploy-system-configs.sh
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

Update usr/README.md
  usr/README.md
Due: normalize

Update setup.sh
  setup.sh
Due: shell-format, normalize

Update Home/.config/yadm/bootstrap
  Home/.config/yadm/bootstrap
Due: normalize

Update binstall.toml
  Home/.cargo/binstall.toml
Due: normalize

Update config.toml
  Home/.cargo/config.toml
Due: normalize

Claude/finalize yadm stow setup 5 quk u (#147)
  .github/dependabot.yml
  Home/.config/yadm/bootstrap
  Home/.local/bin/deploy-system-configs.sh
  YADM.md
  setup.sh
  usr/.gitkeep
  usr/README.md
Due: yaml-lint, shell-format, normalize

Update pacman.conf
  etc/pacman.conf
Due: normalize

Create git-summmary.py
  Home/.local/bin/git-summmary.py
Due: normalize

Create git-summmary.sh
  Home/.local/bin/git-summmary.sh
Due: shell-format, normalize

Delete Home/.local/bin/git-summmary.sh
  Home/.local/bin/git-summmary.sh
Due: shell-format, normalize

Update av1pack.sh
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

Update git-summmary.py
  Home/.local/bin/git-summmary.py
Due: normalize

Create killwine.sh
  Home/.local/bin/killwine.sh
Due: shell-format, normalize

Create killwine.desktop
  Home/.local/share/applications/killwine.desktop
Due: normalize

Create code-flags.conf
  Home/.config/code-flags.conf
Due: normalize

Update chromium-flags.conf
  Home/.config/chromium-flags.conf
Due: normalize
