Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Delete docs/AI-PROMPTS-optimized.md
  docs/AI-PROMPTS-optimized.md
Due: normalize

Update AI-PROMPTS-2.md
  docs/AI-PROMPTS-2.md
Due: normalize

Delete docs/AI-PROMPTS.md
  docs/AI-PROMPTS.md
Due: normalize

Delete docs/LLLM-stuff.md
  docs/LLLM-stuff.md
Due: normalize

Rename AI-PROMPTS-2.md to AI-PROMPTS.md
  docs/AI-PROMPTS.md
Due: normalize

Update config.fish
  Home/.config/fish/config.fish
Due: normalize

Create LLM-PROMPTS.md
  docs/LLM-PROMPTS.md
Due: normalize

Update LLM-PROMPTS.md
  docs/LLM-PROMPTS.md
Due: normalize

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: normalize

Delete .github/commands directory
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
Due: normalize

Delete .github/instructions directory
  .github/instructions/actions.instructions.md
  .github/instructions/bash.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/prompt.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/token-efficient.instructions.md
Due: normalize

Delete .github/prompts directory
  .github/prompts/cleanup.prompt.md
  .github/prompts/create-readme.prompt.md
Due: normalize

Delete .github/agents directory
  .github/agents/bash.agent.md
  .github/agents/critical-thinking.agent.md
  .github/agents/github-issue-fixer.agent.md
  .github/agents/python.agent.md
  .github/agents/refactoring-expert.agent.md
Due: normalize

Delete .github/repo-command.yml
  .github/repo-command.yml
Due: yaml-lint, normalize

Delete .github/actionlint.yml
  .github/actionlint.yml
Due: yaml-lint, normalize

Delete .github/SECURITY.md
  .github/SECURITY.md
Due: normalize

Delete .github/ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/implementation_plan.md
  .github/ISSUE_TEMPLATE/todo.md
Due: yaml-lint, normalize

Rename BASH_PERFORMANCE.md to docs/BASH_PERFORMANCE.md
  docs/BASH_PERFORMANCE.md
Due: normalize

Delete Submodules.txt
  Submodules.txt
Due: normalize

perf(systool): replace bash loop with awk for 18x speedup
  Home/.local/bin/systool.sh
  test_trap.sh
  test_trap_fix.sh
Due: shell-format, normalize

perf: optimize file discovery in vidconv.py using iglob
  Home/.local/bin/vidconv.py
Due: normalize

perf: Optimize vnfetch.sh separator generation
  Home/.local/bin/vnfetch.sh
Due: shell-format, normalize

⚡ Optimize shopt.sh concat_files with find | xargs
  Home/.local/bin/shopt.sh
  out_new
  test_output.txt
Due: shell-format, normalize

⚡ Optimize preprocessor with Awk & Fix logic bug
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

⚡ perf(media-opt): batch file processing in xargs
  Home/.local/bin/media-opt.sh
Due: shell-format, normalize

Update test_trap_fix.sh
  test_trap_fix.sh
Due: shell-format, normalize

⚡ Optimized systool.sh prsync scheduling loop (~18x faster) (#185)
  Home/.local/bin/systool.sh
  test_trap.sh
  test_trap_fix.sh
Due: shell-format, normalize

perf: optimize file discovery in vidconv.py using iglob (#186)
  Home/.local/bin/vidconv.py
Due: normalize

Update Home/.local/bin/vnfetch.sh
  Home/.local/bin/vnfetch.sh
Due: shell-format, normalize

⚡ Optimized vnfetch separator generation with pure Bash (#187)
  Home/.local/bin/vnfetch.sh
Due: shell-format, normalize

Update Home/.local/bin/shopt.sh
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

⚡ Optimize preprocessor with Awk & Fix logic bug (#189)
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

⚡ Optimize shopt.sh concatenation with find | xargs (#188)
  Home/.local/bin/shopt.sh
  out_new
  test_output.txt
Due: shell-format, normalize

Update Home/.local/bin/media-opt.sh
  Home/.local/bin/media-opt.sh
Due: shell-format, normalize

⚡ perf(media-opt): batch file processing in xargs (#190)
  Home/.local/bin/media-opt.sh
Due: shell-format, normalize

perf(git-summary): optimize directory traversal with os.walk
  Home/.local/bin/git-summmary.py
Due: normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize
