Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Update sanitize.sh
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

Update shopt.sh
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Update and rename claude-pr-auto-review.yml to claude-code-review.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-pr-auto-review.yml
Due: yaml-lint, normalize

Create claude.yml
  .github/workflows/claude.yml
Due: yaml-lint, normalize

Delete .github/workflows/pyre.yml
  .github/workflows/pyre.yml
Due: yaml-lint, normalize

Delete .github/workflows/summary.yml
  .github/workflows/summary.yml
Due: yaml-lint, normalize

Delete .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Due: yaml-lint, normalize

Delete .github/workflows/codacy.yml
  .github/workflows/codacy.yml
Due: yaml-lint, normalize

Delete .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Due: yaml-lint, normalize

Delete .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-scheduled-triage.yml
Due: yaml-lint, normalize

Update Home/.local/bin/shopt.sh
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Update shopt.sh (#154)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-pr-auto-review.yml
  .github/workflows/claude.yml
  .github/workflows/codacy.yml
  .github/workflows/dependency-review.yml
  .github/workflows/eslint.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/pyre.yml
  .github/workflows/summary.yml
  Home/.local/bin/shopt.sh
Due: yaml-lint, shell-format, normalize

Create proton-cachyos.sh
  Home/.local/bin/proton-cachyos.sh
Due: shell-format, normalize

Update fzf-tools.sh
  Home/.local/bin/fzf-tools.sh
Due: shell-format, normalize

Update .shellcheckrc
  Home/.shellcheckrc
Due: normalize

Update fzf2md
  Home/.local/bin/fzf2md
Due: normalize

Update 01-env.bash
  Home/.config/bash/plugins/01-env.bash
Due: normalize

Update user.js
  Home/.mozilla/firefox/profile.default-release/user.js
Due: biome, normalize

Update 06-color.bash
  Home/.config/bash/plugins/06-color.bash
Due: normalize

Update tools.fish
  Home/.config/fish/conf.d/tools.fish
Due: normalize

Update config.fish
  Home/.config/fish/config.fish
Due: normalize

Update secret.fish
  Home/.config/fish/conf.d/secret.fish
Due: normalize

Update starship.fish
  Home/.config/fish/conf.d/starship.fish
Due: normalize

Delete Home/.config/fish/conf.d/abbr.fish
  Home/.config/fish/conf.d/abbr.fish
Due: normalize

Update ven0m0.fish
  Home/.config/fish/conf.d/ven0m0.fish
Due: normalize

Update _fzf_search_zoxide.fish
  Home/.config/fish/functions/_fzf_search_zoxide.fish
Due: normalize

Update batmanurl.fish
  Home/.config/fish/functions/batmanurl.fish
Due: normalize

Delete Home/.config/fish/functions/cat.fish
  Home/.config/fish/functions/cat.fish
Due: normalize

Delete Home/.config/fish/functions/catp.fish
  Home/.config/fish/functions/catp.fish
Due: normalize

Update clone-cd.fish
  Home/.config/fish/functions/clone-cd.fish
Due: normalize

Delete Home/.config/fish/functions/edit.fish
  Home/.config/fish/functions/edit.fish
Due: normalize
