Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

fix(yadm): enable yadm clone --bootstrap and remove recursive self-call (#204)
  .config/yadm/bootstrap
  pkg/aur.txt
  pkg/bun.txt
  pkg/pacman.txt
  pkg/uv.txt
  setup.sh
Due: shell-format, normalize

Delete Home/.default-python-packages
  Home/.default-python-packages
Due: normalize

Create renovate.json
  .github/renovate.json
Due: biome, normalize

Delete renovate.json
  renovate.json
Due: biome, normalize

Update bun.txt
  pkg/bun.txt
Due: normalize

Update LLM-PROMPTS.md
  docs/LLM-PROMPTS.md
Due: normalize

Update AI-PROMPTS.md
  docs/AI-PROMPTS.md
Due: normalize

Create cleanup.md
  docs/cleanup.md
Due: normalize

Update cleanup.md
  docs/cleanup.md
Due: normalize

Delete docs/cleanup.md
  docs/cleanup.md
Due: normalize

Delete docs/steelseries.md
  docs/steelseries.md
Due: normalize

refactor: remove unused 'os' import from minify_font.py
  Home/.local/bin/minify_font.py
Due: normalize

feat: Cache executable checks in vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

chore(vidconv): remove unused import 'as_completed'
  Home/.local/bin/vidconv.py
Due: normalize

🧹 Fix potential rsync failure with newline-containing filenames
  Home/.local/bin/yadm-sync.sh
Due: shell-format, normalize

feat: Cache executable checks in vidconv.py (#207)
  Home/.local/bin/vidconv.py
Due: normalize

🧹 Fix potential rsync failure with newline-containing filenames (#210)
  Home/.local/bin/yadm-sync.sh
Due: shell-format, normalize

chore(vidconv): remove unused import 'as_completed' (#209)
  Home/.local/bin/vidconv.py
Due: normalize

refactor: remove unused 'os' import from minify_font.py (#206)
  Home/.local/bin/minify_font.py
Due: normalize

refactor: fix syntax error by moving local vars to function
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

feat: optimize git summary graph traversal
  Home/.local/bin/git-summmary.py
Due: normalize

fix(setup): restrict REPO_RAW to HTTPS to prevent RFI/LFI
  setup.sh
Due: shell-format, normalize

refactor: fix syntax error by moving local vars to function (#211)
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

feat: optimize git summary graph traversal (#212)
  Home/.local/bin/git-summmary.py
Due: normalize

fix(setup): restrict REPO_RAW to HTTPS to prevent RFI/LFI (#213)
  setup.sh
Due: shell-format, normalize

Create settings.json
  Home/.vscode/settings.json
Due: biome, normalize

Create mcp.json
  Home/.vscode/mcp.json
Due: biome, normalize
