Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Create steam-opt
  Home/.local/bin/steam-opt
Due: normalize

Update zimrc.zsh
  Home/.config/zsh/zimrc.zsh
Due: normalize

Update deploy.sh
  Home/.config/zsh/deploy.sh
Due: shell-format, normalize

Update zshrc.zsh
  Home/.config/zsh/zshrc.zsh
Due: normalize

Update aliases.zsh
  Home/.config/zsh/config/aliases.zsh
Due: normalize

Update functions.zsh
  Home/.config/zsh/config/functions.zsh
Due: normalize

Update completions.zsh
  Home/.config/zsh/config/completions.zsh
Due: normalize

Update proton-cachyos.sh
  Home/.local/bin/proton-cachyos.sh
Due: shell-format, normalize

Update protonhax.sh
  Home/.local/bin/protonhax.sh
Due: shell-format, normalize

Update and rename protonlaunch to protonlaunch.sh
  Home/.local/bin/protonlaunch
  Home/.local/bin/protonlaunch.sh
Due: shell-format, normalize

Delete Home/.local/bin/protonhax.sh
  Home/.local/bin/protonhax.sh
Due: shell-format, normalize

Delete Home/.local/bin/proton-cachyos.sh
  Home/.local/bin/proton-cachyos.sh
Due: shell-format, normalize

Update steam-opt
  Home/.local/bin/steam-opt
Due: normalize

Delete Home/.local/bin/protonlaunch.sh
  Home/.local/bin/protonlaunch.sh
Due: shell-format, normalize

Create legcord-flags.conf
  Home/.config/legcord-flags.conf
Due: normalize

Update chromium-flags.conf
  Home/.config/chromium-flags.conf
Due: normalize

Update dependabot.yml
  .github/dependabot.yml
Due: yaml-lint, normalize

Delete usr directory
  usr/.gitkeep
  usr/README.md
Due: normalize

Create steelseries.md
  docs/steelseries.md
Due: normalize

Update 97-steelseries.rules
  etc/udev/rules.d/97-steelseries.rules
Due: normalize

Update steelseries.md
  docs/steelseries.md
Due: normalize

Create 60-fan-control.rules
  etc/udev/rules.d/60-fan-control.rules
Due: normalize

Rename 97-steelseries.rules to 99-steelseries.rules
  etc/udev/rules.d/99-steelseries.rules
Due: normalize

Update 99-steelseries.rules
  etc/udev/rules.d/99-steelseries.rules
Due: normalize

Update steelseries-perms.py
  etc/udev/rules.d/steelseries-perms.py
Due: normalize

Update gaming.conf
  Home/.config/environment.d/gaming.conf
Due: normalize

Delete Home/.local/bin/priv.sh
  Home/.local/bin/priv.sh
Due: shell-format, normalize

Delete Home/.local/bin/sysinfo.sh
  Home/.local/bin/sysinfo.sh
Due: shell-format, normalize

Update yt_grab.sh
  Home/.local/bin/yt_grab.sh
Due: shell-format, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
