Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Update TODO_ANALYSIS.md
  TODO_ANALYSIS.md
Due: normalize

Add TODO and issues analysis report (#159)
  TODO_ANALYSIS.md
Due: normalize

Create steam.md
  docs/steam.md
Due: normalize

Update steam.md
  docs/steam.md
Due: normalize

Update gamemode.ini
  Home/.config/gamemode.ini
Due: normalize

Update environment
  etc/environment
Due: normalize

Update steam_minimal.desktop
  Home/.local/share/applications/steam_minimal.desktop
Due: normalize

Rename steam-native.sh to steam-native
  Home/.local/bin/steam-native
Due: normalize

Update paru.conf
  etc/paru.conf
Due: normalize

Update makepkg.conf
  etc/makepkg.conf
Due: normalize

Update fzf_zoxide.fish
  Home/.config/fish/conf.d/fzf_zoxide.fish
Due: normalize

Delete Home/.config/anythingllm-desktop directory
  Home/.config/anythingllm-desktop/storage/plugins/anythingllm_mcp_servers.json
Due: biome, normalize

docs: optimize CLAUDE.md with enhanced directives
  CLAUDE.md
Due: normalize

docs: optimize CLAUDE.md with enhanced directives (#160)
  CLAUDE.md
Due: normalize

Delete .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-dispatch.yml
Due: yaml-lint, normalize

Delete .github/workflows/gemini-triage.yml
  .github/workflows/gemini-triage.yml
Due: yaml-lint, normalize

Delete .github/workflows/gemini-review.yml
  .github/workflows/gemini-review.yml
Due: yaml-lint, normalize

Delete .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-invoke.yml
Due: yaml-lint, normalize

Delete .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: yaml-lint, normalize

Delete .github/workflows/claude.yml
  .github/workflows/claude.yml
Due: yaml-lint, normalize

Delete .github/workflows/opencode.yml
  .github/workflows/opencode.yml
Due: yaml-lint, normalize

Delete .github/workflows/autofix.yml
  .github/workflows/autofix.yml
Due: yaml-lint, normalize

Delete .github/workflows/mise.yml
  .github/workflows/mise.yml
Due: yaml-lint, normalize

Delete .github/workflows/imgcmp.yml
  .github/workflows/imgcmp.yml
Due: yaml-lint, normalize

Update settings.json
  Home/.config/micro/settings.json
Due: biome, normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Delete Home/.config/paru directory
  Home/.config/paru/paru.conf
Due: normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
