Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

🧹 [pkgui] Format single-line case statement into multiple lines
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

🧹 [config] Replace chafa with viu in yazi image viewer config
  Home/.config/yazi/yazi.toml
Due: normalize

Hi, Jules here! I've completed the performance optimization for the `pkgui` AUR tree parsing pipeline. Here are the details of the update:
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

⚡ [performance] Optimize empty backup directory deletion in setup.sh
  setup.sh
Due: shell-format, normalize

Update opencode.json
  .opencode/opencode.json
Due: biome, normalize

🧹 refactor(setup.sh): remove dead pm_detect code
  setup.sh
Due: shell-format, normalize

perf(fzf-tools): batch git add arguments
  Home/.local/bin/fzf-tools.sh
Due: shell-format, normalize

perf(sanitize): replace dirname/basename subprocesses with bash parameter expansion
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

⚡ refactor(shopt): optimize minify_enhanced to use single sed invocation
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Update PROMPTS.md
  docs/PROMPTS.md
Due: normalize

feat(config): scaffold .opencode commands/skills and .kilocode rules/skills
  .ignore
  .kilocode/rules/architecture.md
  .kilocode/rules/code-style.md
  .kilocode/rules/security.md
  .kilocode/rules/testing.md
  .kilocode/skills/bash-dotfiles/SKILL.md
  .kilocode/skills/dotfile-sync/SKILL.md
  .kilocode/skills/shell-idioms/SKILL.md
  .kilocodeignore
  .opencode/commands/commit.md
  .opencode/commands/deploy.md
  .opencode/commands/lint.md
  .opencode/commands/review.md
  .opencode/commands/sync.md
  .opencode/commands/test.md
  .opencode/skills/bash-dotfiles/SKILL.md
  .opencode/skills/dotfile-sync/SKILL.md
  .opencode/skills/shell-idioms/SKILL.md
Due: normalize

feat(hooks): replace lefthook with prek for pre-commit hooks
  .pre-commit-config.yaml
  AGENTS.md
  Home/.config/lefthook.yml
Due: yaml-lint, normalize

Replace Lefthook with prek and add AI agent skill/rule docs (#253)
  .ignore
  .kilocode/rules/architecture.md
  .kilocode/rules/code-style.md
  .kilocode/rules/security.md
  .kilocode/rules/testing.md
  .kilocode/skills/bash-dotfiles/SKILL.md
  .kilocode/skills/dotfile-sync/SKILL.md
  .kilocode/skills/shell-idioms/SKILL.md
  .kilocodeignore
  .opencode/commands/commit.md
  .opencode/commands/deploy.md
  .opencode/commands/lint.md
  .opencode/commands/review.md
  .opencode/commands/sync.md
  .opencode/commands/test.md
  .opencode/skills/bash-dotfiles/SKILL.md
  .opencode/skills/dotfile-sync/SKILL.md
  .opencode/skills/shell-idioms/SKILL.md
  .pre-commit-config.yaml
  AGENTS.md
  Home/.config/lefthook.yml
Due: yaml-lint, normalize

🧹 [pkgui] Format single-line case statement into multiple lines (#245)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

🧹 [config] Replace chafa with viu in yazi image viewer config (#246)
  Home/.config/yazi/yazi.toml
Due: normalize

Hi, Jules here! I've completed the performance optimization for the `pkgui` AUR tree parsing pipeline. Here are the details of the update: (#247)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

⚡ [performance] Optimize empty backup directory deletion in setup.sh (#248)
  setup.sh
Due: shell-format, normalize

🧹 refactor(setup.sh): remove dead pm_detect code (#249)
  setup.sh
Due: shell-format, normalize

perf(fzf-tools): batch git add arguments (#250)
  Home/.local/bin/fzf-tools.sh
Due: shell-format, normalize

perf(sanitize): replace dirname/basename subprocesses with bash parameter expansion (#251)
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

⚡ refactor(shopt): optimize minify_enhanced to use single sed invocation (#252)
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Delete .opencode/AGENTS.md
  .opencode/AGENTS.md
Due: normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

perf: replace bash loop and bc with single awk in speedtest.sh
  Home/.local/bin/speedtest.sh
Due: shell-format, normalize

feat(vidconv): add formtool batch capabilities
  Home/.local/bin/vidconv.py
Due: normalize

Add files via upload
  .opencode/plugins/trim-tool-name.js
Due: biome, normalize

Update Home/.local/bin/speedtest.sh
  Home/.local/bin/speedtest.sh
Due: shell-format, normalize

⚡ optimize server selection loop in speedtest.sh (#254)
  Home/.local/bin/speedtest.sh
Due: shell-format, normalize

Update Home/.local/bin/vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

feat(vidconv): add formtool batch capabilities (#255)
  Home/.local/bin/vidconv.py
Due: normalize

Delete .opencode/rate-limit-fallback.json
  .opencode/rate-limit-fallback.json
Due: biome, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
