Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Update 60-ioschedulers.rules
  etc/udev/rules.d/60-ioschedulers.rules
Due: normalize

Update steam.md
  docs/steam.md
Due: normalize

Delete docs/index.html
  docs/index.html
Due: normalize

refactor(av1pack): extract main logic into distinct mode functions
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

feat(handlr): replace handlr with handlr-regex for regex-based MIME associations
  Home/.config/handlr/handlr.toml
  Home/.local/bin/xdg-open
Due: normalize

chore: replace hardcoded paru with dynamic PKG_MGR in setup.sh
  setup.sh
Due: shell-format, normalize

Update GameUserSettings.ini
  Home/.steam/arc-raiders/GameUserSettings.ini
Due: normalize

🔒 security: add safety checks for rm -rf in office.sh
  Home/.local/bin/office.sh
Due: shell-format, normalize

test: add unit tests for steelseries-perms.py
  tests/test_steelseries_perms.py
Due: normalize

security: pin AM installer commit and mandate SHA256 verification
  setup.sh
Due: shell-format, normalize

⚡ Optimize repo discovery in dotfiles-autocommit.sh
  Home/.local/bin/dotfiles-autocommit.sh
Due: shell-format, normalize

refactor: optimize tag concatenation in nekofetch
  Home/.local/bin/neko.sh
  pr_desc.md
Due: shell-format, normalize

fix(av1pack): parallelize ffprobe checks with xargs chunking
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

🔒 Replace unsafe eval with process substitution for completion scripts
  Home/.config/bash/completer.sh
Due: shell-format, normalize

⚡ perf(setup): batch stow invocation for system configs
  setup.sh
Due: shell-format, normalize

⚡ Optimize git-summmary.py directory traversal and subprocess overhead
  Home/.local/bin/git-summmary.py
Due: normalize

⚡ Optimize CPU info parsing in vnfetch
  Home/.local/bin/vnfetch.sh
Due: shell-format, normalize

⚡ Optimize git repo traversal logic by delegating IO to C via find subprocess
  .gitignore
  Home/.local/bin/git-summmary.py
Due: normalize

perf(deploy): inline directory existence check
  Home/.local/bin/deploy-system-configs.sh
  msg.txt
Due: shell-format, normalize

Squash merge all 15 open PRs into main (#272)
  .gitignore
  Home/.config/bash/completer.sh
  Home/.config/handlr/handlr.toml
  Home/.local/bin/av1pack.sh
  Home/.local/bin/deploy-system-configs.sh
  Home/.local/bin/dotfiles-autocommit.sh
  Home/.local/bin/git-summmary.py
  Home/.local/bin/neko.sh
  Home/.local/bin/office.sh
  Home/.local/bin/vnfetch.sh
  Home/.local/bin/xdg-open
  setup.sh
  tests/test_steelseries_perms.py
Due: shell-format, normalize

Update TODO.md
  Home/.steam/arc-raiders/TODO.md
Due: normalize

Create README.md
  Home/.steam/arc-raiders/README.md
Due: normalize

Rename .github/README.md to README.md
  README.md
Due: normalize

Create extensions.json
  .vscode/extensions.json
Due: biome, normalize

Update .editorconfig
  Home/.editorconfig
Due: normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Update copy-stuff.md
  docs/copy-stuff.md
Due: normalize

feat: implement KDE Plasma and system fixes
  Home/.bash_exports
  Home/.local/bin/fix-plasma-panels.sh
  etc/environment
  etc/systemd/system/cups.service.d/defer-boot.conf
  etc/systemd/system/docker.service.d/defer-boot.conf
  etc/systemd/system/nfs-server.service.d/defer-boot.conf
  etc/systemd/system/postgresql@.service.d/defer-boot.conf
  etc/systemd/system/smbd.service.d/defer-boot.conf
  etc/systemd/system/snapper-boot.service.d/defer-boot.conf
Due: shell-format, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
