Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Update extensions.json
  .vscode/extensions.json
Due: biome, normalize

Update Home/.local/bin/fix-plasma-panels.sh
  Home/.local/bin/fix-plasma-panels.sh
Due: shell-format, normalize

Update Home/.bash_exports
  Home/.bash_exports
Due: normalize

Implement KDE Plasma and System Fixes (#274)
  Home/.bash_exports
  Home/.local/bin/fix-plasma-panels.sh
  etc/environment
  etc/systemd/system/cups.service.d/defer-boot.conf
  etc/systemd/system/docker.service.d/defer-boot.conf
  etc/systemd/system/nfs-server.service.d/defer-boot.conf
  etc/systemd/system/postgresql@.service.d/defer-boot.conf
  etc/systemd/system/smbd.service.d/defer-boot.conf
  etc/systemd/system/snapper-boot.service.d/defer-boot.conf
Due: shell-format, normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Create SKILL.md
  .github/skills/copilot-init/SKILL.md
Due: normalize

🧪 [vidconv] Add test for build_filters
  tests/test_vidconv_filters.py
Due: normalize

🧪 Add tests for minify_font.py
  tests/test_minify_font.py
Due: normalize

🧪 Add tests for git-summmary.py get_repo_stats
  tests/test_git_summmary.py
Due: normalize

🧪 Add tests for vidconv build_params
  tests/test_vidconv.py
Due: normalize

perf: Benchmark directory check optimizations
  pr_description.md
Due: normalize

⚡ Maintain optimized directory check
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

Update Home/.local/bin/deploy-system-configs.sh
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

Update tests/test_git_summmary.py
  tests/test_git_summmary.py
Due: normalize

perf: Benchmark directory check optimizations (#280)
  pr_description.md
Due: normalize

cleanup: remove unused logging functions and variables from shopt.sh
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

perf(pkgui): implement batch AUR RPC info querying and dependency caching
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

perf(pkgui): implement batch AUR RPC info querying and dependency caching (#283)
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

cleanup: remove unused logging functions and variables from shopt.sh (#282)
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

🧪 Add tests for git-summmary.py get_repo_stats (#278)
  tests/test_git_summmary.py
Due: normalize

🧪 Add tests for vidconv build_params (#279)
  tests/test_vidconv.py
Due: normalize

🧪 [vidconv] Add test for build_filters (#276)
  tests/test_vidconv_filters.py
Due: normalize

🧪 Add tests for minify_font.py (#277)
  tests/test_minify_font.py
Due: normalize
