Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

perf: optimize git-summary performance
  Home/.local/bin/git-summmary.py
Due: normalize

perf: parallelize ffprobe checks in av1pack.sh
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

perf(git-summary): optimize directory traversal with os.walk (#191)
  Home/.local/bin/git-summmary.py
Due: normalize

Update Home/.local/bin/git-summmary.py
  Home/.local/bin/git-summmary.py
Due: normalize

Update Home/.local/bin/av1pack.sh
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

⚡ Parallelize ffprobe scanning in av1pack.sh (#193)
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

perf: optimize memory usage in file search in vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

perf: optimize memory usage in file search in vidconv.py (#194)
  Home/.local/bin/vidconv.py
Due: normalize

Update LLM-PROMPTS.md
  docs/LLM-PROMPTS.md
Due: normalize

Update .editorconfig
  .editorconfig
Due: normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Create dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Due: yaml-lint, normalize

Update config.fish
  Home/.config/fish/config.fish
Due: normalize

Update fish_plugins
  Home/.config/fish/fish_plugins
Due: normalize

Create jules-weekly-cleanup.yml
  .github/workflows/jules-weekly-cleanup.yml
Due: yaml-lint, normalize

Create jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: yaml-lint, normalize

Create fish-lsp.fish
  Home/.config/fish/conf.d/fish-lsp.fish
Due: normalize

Update fish-lsp.fish
  Home/.config/fish/conf.d/fish-lsp.fish
Due: normalize

Update .gitconfig
  Home/.gitconfig
Due: normalize

Create git.fish
  Home/.config/fish/functions/git.fish
Due: normalize

perf(media-toolkit): batch process pngquant and cwebp calls
  Home/.local/bin/media-toolkit.sh
Due: shell-format, normalize

Create cat.fish
  Home/.config/fish/functions/cat.fish
Due: normalize

Update cat.fish
  Home/.config/fish/functions/cat.fish
Due: normalize

Update Home/.local/bin/media-toolkit.sh
  Home/.local/bin/media-toolkit.sh
Due: shell-format, normalize

🚀 Turbo: Batch process media optimizations (#195)
  Home/.local/bin/media-toolkit.sh
Due: shell-format, normalize

Rename YADM.md to docs/YADM.md
  docs/YADM.md
Due: normalize

Delete out_new
  out_new
Due: normalize

Delete test_trap_fix.sh
  test_trap_fix.sh
Due: shell-format, normalize

Delete test_trap.sh
  test_trap.sh
Due: shell-format, normalize
