Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Update steam.md
  docs/steam.md
Due: normalize

Move qlty formatting to GitHub-only automation (#238)
  .github/workflows/lint-format.yml
  Home/.config/lefthook.yml
  Home/.local/bin/lint-format.sh
  setup.sh
Due: yaml-lint, shell-format, normalize

Create qlty.toml
  .qlty/qlty.toml
Due: normalize

Update README.md
  .github/README.md
Due: normalize

Update qlty.toml
  .qlty/qlty.toml
Due: normalize

Delete .qlty/qlty.toml
  .qlty/qlty.toml
Due: normalize

Update AGENTS.md
  AGENTS.md
Due: normalize

Delete .github/workflows/jules-performance-improver.yml
  .github/workflows/jules-performance-improver.yml
Due: yaml-lint, normalize

Create fmt.yml
  .github/workflows/fmt.yml
Due: yaml-lint, normalize

Create SKILL.md
  .github/skills/arch-linux-triage/SKILL.md
Due: normalize

fix(setup): prevent rsync --delete from destroying user configs
  Home/.config/yadm/bootstrap
  Home/.local/bin/yadm-sync.sh
  setup.sh
Due: shell-format, normalize

fix(setup): prevent rsync --delete from destroying user configs (#241)
  Home/.config/yadm/bootstrap
  Home/.local/bin/yadm-sync.sh
  setup.sh
Due: shell-format, normalize

Update GameUserSettings.ini
  Home/.steam/arc-raiders/GameUserSettings.ini
Due: normalize

Add files via upload
  Home/.steam/arc-raiders/Input.ini
Due: normalize

Implement auto-formatting using qlty (#237)
  .github/workflows/fmt.yml
  .github/workflows/jules-performance-improver.yml
  .github/workflows/lint-format.yml
Due: yaml-lint, normalize

Create PROMPTS.md
  docs/PROMPTS.md
Due: normalize

Update PROMPTS.md
  docs/PROMPTS.md
Due: normalize

docs: clean up AGENTS.md and copilot-instructions.md
  .github/copilot-instructions.md
  AGENTS.md
Due: normalize

docs: clean up AGENTS.md and copilot-instructions.md (#242)
  .github/copilot-instructions.md
  AGENTS.md
Due: normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Delete Home/.config/containers/podman-desktop directory
  Home/.config/containers/podman-desktop/settings.json
Due: biome, normalize

Delete Home/.config/anyrun directory
  Home/.config/anyrun/config.ron
  Home/.config/anyrun/style.css
Due: normalize

Delete Home/.config/autostart directory
  Home/.config/autostart/apex-tux.desktop
Due: normalize

Delete Home/.config/bauh directory
  Home/.config/bauh/arch.yml
  Home/.config/bauh/arch/makepkg.conf
  Home/.config/bauh/config.yml
  Home/.config/bauh/flatpak.yml
  Home/.config/bauh/web.yml
Due: yaml-lint, normalize
