Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Update sudoers
  etc/sudoers
Due: normalize

Update pkgui.sh
  Home/.local/bin/pkgui.sh
Due: shell-format, normalize

Update topgrade.toml
  Home/.config/topgrade.d/topgrade.toml
Due: normalize

Create topgrade.toml
  Home/.config/topgrade.toml
Due: normalize

Delete Home/.config/topgrade.d directory
  Home/.config/topgrade.d/topgrade.toml
Due: normalize

Update .oxlintrc.json
  Home/.oxlintrc.json
Due: biome, normalize

Delete biome.json
  biome.json
Due: biome, normalize

Update SKILL.md
  Home/.claude/skills/modern-tool-substitution/SKILL.md
Due: normalize

Delete .github/instructions/superclaude.instructions.md
  .github/instructions/superclaude.instructions.md
Due: normalize

Update token-efficient.instructions.md
  .github/instructions/token-efficient.instructions.md
Due: normalize

Delete .github/instructions/code-review-generic.instructions.md
  .github/instructions/code-review-generic.instructions.md
Due: normalize

Delete .github/agents/repo-index.agent.md
  .github/agents/repo-index.agent.md
Due: normalize

Delete TODO_ANALYSIS.md
  TODO_ANALYSIS.md
Due: normalize

Update alacritty.toml
  Home/.config/alacritty/alacritty.toml
Due: normalize

Update config
  Home/.config/ghostty/config
Due: normalize

Create opencode.json
  Home/.config/opencode/opencode.json
Due: biome, normalize

Update opencode.json
  Home/.config/opencode/opencode.json
Due: biome, normalize

Delete etc/kernel/cmdline
  etc/kernel/cmdline
Due: normalize

Update pacman.conf
  etc/pacman.conf
Due: normalize

Delete .github/prompts/generate-custom-instructions-from-codebase.prompt.md
  .github/prompts/generate-custom-instructions-from-codebase.prompt.md
Due: normalize

Delete .github/prompts/boost-prompt.prompt.md
  .github/prompts/boost-prompt.prompt.md
Due: normalize

Delete .github/prompts/remember.prompt.md
  .github/prompts/remember.prompt.md
Due: normalize

Delete .github/prompts/create-agentsmd.prompt.md
  .github/prompts/create-agentsmd.prompt.md
Due: normalize

Delete .github/prompts/best-practices.prompt.md
  .github/prompts/best-practices.prompt.md
Due: normalize

Delete .github/prompts/create-llms.prompt.md
  .github/prompts/create-llms.prompt.md
Due: normalize

Delete .github/instructions/memory-bank.instructions.md
  .github/instructions/memory-bank.instructions.md
Due: normalize

Delete .github/instructions/task-implementation.instructions.md
  .github/instructions/task-implementation.instructions.md
Due: normalize

Delete .github/instructions/performance-optimization.instructions.md
  .github/instructions/performance-optimization.instructions.md
Due: normalize

Delete .github/instructions/taming-copilot.instructions.md
  .github/instructions/taming-copilot.instructions.md
Due: normalize

Update bash.instructions.md
  .github/instructions/bash.instructions.md
Due: normalize

Update settings.json
  Home/.gemini/settings.json
Due: biome, normalize

Update settings.json
  Home/.claude/settings.json
Due: biome, normalize
