Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Delete Home/.config/systemd/user/arch-update.timer
  Home/.config/systemd/user/arch-update.timer
Due: normalize

Delete Home/.config/sccache directory
  Home/.config/sccache/config
Due: normalize

Delete Home/.config/ytdlp-gui directory
  Home/.config/ytdlp-gui/config.toml
Due: normalize

Delete Home/.config/yt-dlg directory
  Home/.config/yt-dlg/settings.json
Due: biome, normalize

Delete Home/.config/yay directory
  Home/.config/yay/config.json
Due: biome, normalize

Delete Home/.config/walker directory
  Home/.config/walker/config.toml
Due: normalize

Delete Home/.config/yamllint directory
  Home/.config/yamllint/config
Due: normalize

Delete Home/.config/yamlfmt directory
  Home/.config/yamlfmt/yamlfmt.yml
Due: yaml-lint, normalize

Delete Home/.config/ulauncher directory
  Home/.config/ulauncher/settings.json
Due: biome, normalize

Delete Home/.config/micro/plug directory
  Home/.config/micro/plug/sort/sort.lua
  Home/.config/micro/plug/toggle/toggle.lua
Due: normalize

Delete Home/.config/micro/.gitignore
  Home/.config/micro/.gitignore
Due: normalize

Delete Home/.config/micro/bindings.json
  Home/.config/micro/bindings.json
Due: biome, normalize

Delete Home/.config/nix directory
  Home/.config/nix/flake.nix
  Home/.config/nix/nix.conf
Due: normalize

Delete Home/.config/nixpkgs directory
  Home/.config/nixpkgs/config.nix
Due: normalize

Delete Home/.config/wget/wget2rc
  Home/.config/wget/wget2rc
Due: normalize

Create .wgetrc
  Home/.wgetrc
Due: normalize

Delete Home/.config/wget directory
  Home/.config/wget/wgetrc
Due: normalize

Delete Home/.config/alacritty directory
  Home/.config/alacritty/alacritty.toml
Due: normalize

Delete Home/.config/cpupower_gui directory
  Home/.config/cpupower_gui/00-cpg.conf
Due: normalize

Delete Home/.config/ccache directory
  Home/.config/ccache/ccache.conf
Due: normalize

Delete Home/.config/docker directory
  Home/.config/docker/daemon.json
Due: biome, normalize

Delete Home/.config/dxvk directory
  Home/.config/dxvk/dxvk.conf
Due: normalize

Delete Home/.config/eww directory
  Home/.config/eww/eww.scss
  Home/.config/eww/eww.yuck
Due: normalize

Delete Home/.config/fastfetch directory
  Home/.config/fastfetch/config.jsonc
Due: normalize

Delete Home/.config/fd directory
  Home/.config/fd/config
  Home/.config/fd/ignore
Due: normalize

Delete Home/.config/gh directory
  Home/.config/gh/config.yml
Due: yaml-lint, normalize

Delete Home/.config/rclone-browser directory
  Home/.config/rclone-browser/rclone-browser.conf
Due: normalize

Delete Home/.config/onedrive-gui directory
  Home/.config/onedrive-gui/gui_settings
Due: normalize

Update tmux.conf
  Home/.config/tmux/tmux.conf
Due: normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Update default.json
  Home/.config/heroic/GamesConfig/default.json
Due: biome, normalize

Delete Home/.config/neofetch directory
  Home/.config/neofetch/config.conf
Due: normalize

Delete Home/.config/frogminer directory
  Home/.config/frogminer/linux-tkg.cfg
  Home/.config/frogminer/mesa-git.cfg
  Home/.config/frogminer/nvidia-all.cfg
  Home/.config/frogminer/wine-tkg.cfg
Due: normalize

Delete Home/.config/Code/User/snippets directory
  Home/.config/Code/User/snippets/css.json
  Home/.config/Code/User/snippets/global.json
  Home/.config/Code/User/snippets/lua.json
  Home/.config/Code/User/snippets/markdown.json
  Home/.config/Code/User/snippets/python.json
Due: biome, normalize

Delete Home/.config/Code/User/extensions.txt
  Home/.config/Code/User/extensions.txt
Due: normalize

Delete Home/.config/Code/User/keybindings.json
  Home/.config/Code/User/keybindings.json
Due: biome, normalize

Delete Home/.config/Code/User/mcp.json
  Home/.config/Code/User/mcp.json
Due: biome, normalize

Delete Home/.config/VSCodium/User directory
  Home/.config/VSCodium/User/keybindings.json
  Home/.config/VSCodium/User/mcp.json
  Home/.config/VSCodium/User/settings.json
Due: biome, normalize

Delete Home/.config/fish/completions/gclx.fish
  Home/.config/fish/completions/gclx.fish
Due: normalize

Delete Home/.config/fish/completions/compresscli.fish
  Home/.config/fish/completions/compresscli.fish
Due: normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
