Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Update renovate.json
  .github/renovate.json
Due: biome, normalize

Add files via upload
  docs/index.html
Due: normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Update 99-gaming.conf
  etc/sysctl.d/99-gaming.conf
Due: normalize

Update 99-tweak-settings.conf
  etc/sysctl.d/99-tweak-settings.conf
Due: normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Update topgrade.toml
  Home/.config/topgrade.toml
Due: normalize

chore(lint): audit and upgrade all linter configs and schemas
  .editorconfig
  Home/.config/lefthook.yml
  Home/.config/yamlfmt/yamlfmt.yml
  Home/.config/yamllint/config
  Home/.editorconfig
  Home/.local/bin/lint-format.sh
  Home/.local/bin/mc_afk.sh
  Home/.local/bin/media-opt.sh
  pkg/pacman.txt
Due: yaml-lint, shell-format, normalize

Update .gitconfig
  Home/.gitconfig
Due: normalize

Add happy-coder package to config.toml
  Home/.config/mise/config.toml
Due: normalize

chore(lint): audit and upgrade all linter configs and schemas (#219)
  .editorconfig
  Home/.config/lefthook.yml
  Home/.config/yamlfmt/yamlfmt.yml
  Home/.config/yamllint/config
  Home/.editorconfig
  Home/.local/bin/lint-format.sh
  Home/.local/bin/mc_afk.sh
  Home/.local/bin/media-opt.sh
  pkg/pacman.txt
Due: yaml-lint, shell-format, normalize

perf: optimize subprocess command list creation in find_files_fd (#217)
  Home/.local/bin/vidconv.py
Due: normalize

fix(xsudo): 🔒 fix command injection vulnerability by removing eval (#218)
  Home/.local/bin/xsudo
Due: normalize

docs: optimize AGENTS.md and copilot-instructions.md with progressive disclosure
  .github/copilot-instructions.md
  .github/instructions/bash.instructions.md
  AGENTS.md
Due: normalize

docs: optimize AGENTS.md and copilot-instructions.md with progressive disclosure (#220)
  .github/copilot-instructions.md
  .github/instructions/bash.instructions.md
  AGENTS.md
Due: normalize

Update bash.instructions.md
  .github/instructions/bash.instructions.md
Due: normalize

Create arch-linux.instructions.md
  .github/instructions/arch-linux.instructions.md
Due: normalize

Create mise.instructions.md
  .github/instructions/mise.instructions.md
Due: normalize

Create python.instructions.md
  .github/instructions/python.instructions.md
Due: normalize

Add .serena/ to .gitignore
  .gitignore
Due: normalize

Prefer stow in yadm bootstrap/sync workflow and align docs with upstream yadm behavior (#221)
  .config/yadm/bootstrap
  Home/.config/yadm/bootstrap
  Home/.config/yadm/config
  Home/.config/yadm/encrypt
  Home/.local/bin/deploy-system-configs.sh
  Home/.local/bin/yadm-sync.sh
  docs/YADM.md
  pkg/pacman.txt
  setup.sh
Due: shell-format, normalize

Delete Home/.claude/settings.json
  Home/.claude/settings.json
Due: biome, normalize

Delete Home/.gemini directory
  Home/.gemini/settings.json
Due: biome, normalize

security: fix insecure curl|bash in setup.sh
  setup.sh
Due: shell-format, normalize

test: add test for extract with unsupported archive format
  tests/test_extract.sh
Due: shell-format, normalize

perf(yadm-sync): optimize file diff check
  Home/.local/bin/yadm-sync.sh
Due: shell-format, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
