Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Create extensions.json
  Home/.vscode/extensions.json
Due: biome, normalize

Update mcp.json
  Home/.vscode/mcp.json
Due: biome, normalize

Update Home/.config/lefthook.yml
  Home/.config/lefthook.yml
Due: yaml-lint, normalize

Delete docs/AI-PROMPTS.md
  docs/AI-PROMPTS.md
Due: normalize

Create AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Update AI-STUFF.md
  docs/AI-STUFF.md
Due: normalize

Update environment
  etc/environment
Due: normalize

Update dependabot.yml
  .github/dependabot.yml
Due: yaml-lint, normalize

Update renovate.json
  .github/renovate.json
Due: biome, normalize

Update .gitconfig
  Home/.gitconfig
Due: normalize

Update config
  Home/.config/ghostty/config
Due: normalize

Update fstab
  etc/fstab
Due: normalize

Update .editorconfig
  .editorconfig
Due: normalize

Update .editorconfig
  Home/.editorconfig
Due: normalize

Update README.md
  .github/README.md
Due: normalize

Consolidate .editorconfig files via symlink to Home/.editorconfig (#215)
  .editorconfig
  Home/.editorconfig
Due: normalize

Delete benchmark_preview.sh
  benchmark_preview.sh
Due: shell-format, normalize

Delete main.knsv
  main.knsv
Due: normalize

Create copy-stuff.md
  docs/copy-stuff.md
Due: normalize

Update copy-stuff.md
  docs/copy-stuff.md
Due: normalize

Update config.toml
  Home/.cargo/config.toml
Due: normalize
