Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

feat: configure handlr to use wofi for wayland
  Home/.config/handlr/handlr.toml
Due: normalize

Delete Home/.claude/hooks directory
  Home/.claude/hooks/post-edit-format.py
Due: normalize

Delete Home/.claude/skills directory
  Home/.claude/skills/bash-optimizer/SKILL.md
  Home/.claude/skills/bash-optimizer/references/patterns.md
  Home/.claude/skills/bash-optimizer/references/standards.md
  Home/.claude/skills/bash-optimizer/scripts/analyze.py
  Home/.claude/skills/codeagent/SKILL.md
  Home/.claude/skills/file-organizer/SKILL.md
  Home/.claude/skills/image-optimization/SKILL.md
  Home/.claude/skills/modern-tool-substitution/SKILL.md
  Home/.claude/skills/python-cli-builder/SKILL.md
  Home/.claude/skills/python-cli-builder/references/patterns.md
  Home/.claude/skills/python-cli-builder/references/stdlib_perf.md
  Home/.claude/skills/python-cli-builder/scripts/cli_template.py
  Home/.claude/skills/python-cli-builder/scripts/common_utils.py
  Home/.claude/skills/python-cli-builder/scripts/log_component.py
  Home/.claude/skills/python-cli-builder/scripts/subprocess_helpers.py
  Home/.claude/skills/ralph/SKILL.md
  Home/.claude/skills/ralph/ralph.ps1
  Home/.claude/skills/ralph/ralph.sh
  Home/.claude/skills/toon-formatter/SKILL.md
Due: shell-format, normalize

Update Home/.bash_functions
  Home/.bash_functions
Due: normalize

Update Home/.config/handlr/handlr.toml
  Home/.config/handlr/handlr.toml
Due: normalize

⚡ Optimize fman fzf preview pipeline (#177)
  Home/.bash_functions
Due: normalize

Switch handlr selector to Wofi for Wayland (#178)
  Home/.config/handlr/handlr.toml
Due: normalize

Clean up and consolidate Firefox profile CSS files
  Home/.mozilla/firefox/profile.default-release/chrome/compact_proton.css
  Home/.mozilla/firefox/profile.default-release/chrome/userChrome.css
  Home/.mozilla/firefox/profile.default-release/chrome/userContent.css
  Home/.mozilla/firefox/profile.default-release/content/about_page_scrollbars.css
  Home/.mozilla/firefox/profile.default-release/content/addon_manage_buttons_without_popup.css
  Home/.mozilla/firefox/profile.default-release/content/compact_addons_manager.css
  Home/.mozilla/firefox/profile.default-release/content/remove_textbox_focusring.css
Due: normalize

Update Home/.mozilla/firefox/profile.default-release/chrome/userContent.css
  Home/.mozilla/firefox/profile.default-release/chrome/userContent.css
Due: normalize

Firefox profile CSS cleanup (#179)
  Home/.mozilla/firefox/profile.default-release/chrome/compact_proton.css
  Home/.mozilla/firefox/profile.default-release/chrome/userChrome.css
  Home/.mozilla/firefox/profile.default-release/chrome/userContent.css
  Home/.mozilla/firefox/profile.default-release/content/about_page_scrollbars.css
  Home/.mozilla/firefox/profile.default-release/content/addon_manage_buttons_without_popup.css
  Home/.mozilla/firefox/profile.default-release/content/compact_addons_manager.css
  Home/.mozilla/firefox/profile.default-release/content/remove_textbox_focusring.css
Due: normalize

Update Home/.local/bin/sanitize.sh
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

perf: parallelize sanitize.sh file processing
  Home/.config/bash/plugins/05-language-runtimes.bash
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

Create .prettierrc
  Home/.prettierrc
Due: normalize

perf: parallelize sanitize.sh file processing (#170)
  Home/.config/bash/plugins/05-language-runtimes.bash
  Home/.local/bin/sanitize.sh
Due: shell-format, normalize

Delete .lefthook.yml
  .lefthook.yml
Due: yaml-lint, normalize

Delete precious.toml
  precious.toml
Due: normalize

Delete steam.txt
  steam.txt
Due: normalize

Delete todo.md
  todo.md
Due: normalize

Update TODO.md
  TODO.md
Due: normalize

Delete Home/.local/bin/antigravity.sh
  Home/.local/bin/antigravity.sh
Due: shell-format, normalize

Delete Home/.local/bin/appImage_to_desktop.sh
  Home/.local/bin/appImage_to_desktop.sh
Due: shell-format, normalize

Delete Home/.local/bin/proton-cachyos.sh
  Home/.local/bin/proton-cachyos.sh
Due: shell-format, normalize

Update xsudo
  Home/.local/bin/xsudo
Due: normalize

Update xdg-open
  Home/.local/bin/xdg-open
Due: normalize

Delete Home/.local/bin/switch-java
  Home/.local/bin/switch-java
Due: normalize

Delete Home/.local/bin/steam-opt
  Home/.local/bin/steam-opt
Due: normalize

Update codium-flags.conf
  Home/.config/codium-flags.conf
Due: normalize

Update code-flags.conf
  Home/.config/code-flags.conf
Due: normalize
