Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

refactor(git-summary): use specific import for ThreadPoolExecutor
  Home/.local/bin/git-summmary.py
Due: normalize

⚡ refactor(deploy-system-configs): optimize stow/tuckr execution with arrays
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

perf(shopt): optimize concat_files find loop
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

⚡ refactor(deploy-system-configs): optimize stow/tuckr execution with arrays (#226)
  Home/.local/bin/deploy-system-configs.sh
Due: shell-format, normalize

test: add test for extract with unsupported archive format (#223)
  tests/test_extract.sh
Due: shell-format, normalize

security: fix insecure curl|bash in setup.sh (#222)
  setup.sh
Due: shell-format, normalize

perf(yadm-sync): optimize file diff check (#224)
  Home/.local/bin/yadm-sync.sh
Due: shell-format, normalize

refactor(git-summary): use specific import for ThreadPoolExecutor (#225)
  Home/.local/bin/git-summmary.py
Due: normalize

perf(shopt): optimize concat_files find loop (#227)
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

perf: use array expansion for systemd services
  setup.sh
Due: shell-format, normalize

⚡ Optimize shopt.sh shellcheck invocation
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Create codium
  Home/.local/bin/codium
Due: normalize

Update electron-flags.conf
  Home/.config/electron-flags.conf
Due: normalize

feat(pkg): add am.txt for appman packages
  pkg/am.txt
Due: normalize

feat(pkg): update aur, bun, uv package lists from Linux-OS
  pkg/aur.txt
  pkg/bun.txt
  pkg/uv.txt
Due: normalize

feat(setup): add zerobrew, tuckr preference, AM app install
  setup.sh
Due: shell-format, normalize

docs: add PRD for setup script and package list sync
  PRD.md
Due: normalize

Update topgrade.toml
  Home/.config/topgrade.toml
Due: normalize

Claude/create prd setup script rede7 (#230)
  PRD.md
  pkg/am.txt
  pkg/aur.txt
  pkg/bun.txt
  pkg/uv.txt
  setup.sh
Due: shell-format, normalize

Update setup.sh
  setup.sh
Due: shell-format, normalize

⚡ perf: batch systemd service enable (#228)
  setup.sh
Due: shell-format, normalize

⚡ Optimize shopt.sh shellcheck invocation (#229)
  Home/.local/bin/shopt.sh
Due: shell-format, normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Update renovate.json
  .github/renovate.json
Due: biome, normalize

Update ignore
  Home/.config/fd/ignore
Due: normalize

Rename .github/renovate.json to renovate.json
  renovate.json
Due: biome, normalize

Create path.txt
  Home/.steam/arc-raiders/path.txt
Due: normalize

Add files via upload
  Home/.steam/arc-raiders/Engine.ini
  Home/.steam/arc-raiders/GameUserSettings.ini
Due: normalize

Create TODO.md
  Home/.steam/arc-raiders/TODO.md
Due: normalize

Add files via upload
  Home/.steam/arc-raiders/skip-videos.sh
Due: shell-format, normalize

Delete .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Due: yaml-lint, normalize

Delete .github/workflows/deps.yml
  .github/workflows/deps.yml
Due: yaml-lint, normalize

Create .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yaml-lint, normalize

Update .editorconfig
  Home/.editorconfig
Due: normalize

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yaml-lint, normalize

perf: implement high-precision mouse and keyboard polling
  etc/modprobe.d/usbhid.conf
  etc/sdboot-manage.conf
Due: normalize

feat(wine): apply performance optimizations across environment and wine.inf
  Home/.config/bash/plugins/01-env.bash
  Home/.config/environment.d/gaming.conf
  docs/steam.md
  etc/environment
  etc/pacman.d/hooks/stop-wine-associations.hook
Due: normalize
