Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

aglint:
  priority: 1
  run: 'command -v bunx &>/dev/null || exit 0
  
    bunx @adguard/aglint {staged_files}
  
    '
  fail_text: AGLint failed

biome:
  priority: 2
  run: 'command -v biome &>/dev/null || exit 0
  
    biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

yaml-lint:
  priority: 3
  run: 'command -v yamllint &>/dev/null || exit 0
  
    yamllint {staged_files}
  
    '

shell-format:
  priority: 4
  run: 'command -v shfmt &>/dev/null || exit 0
  
    shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
  
    command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
  
    git add {staged_files}
  
    '
  stage_fixed: true

normalize:
  priority: 5
  run: "for f in {staged_files}; do\n  sed -i 's/[[:space:]]*$//; s/\\r$//' \"$f\"\ndone\ngit add {staged_files}\n"
  stage_fixed: true

Delete Home/.claude/commands directory
  Home/.claude/commands/gsd/add-phase.md
  Home/.claude/commands/gsd/consider-issues.md
  Home/.claude/commands/gsd/create-roadmap.md
  Home/.claude/commands/gsd/execute-phase.md
  Home/.claude/commands/gsd/execute-plan.md
  Home/.claude/commands/gsd/list-phase-assumptions.md
  Home/.claude/commands/gsd/map-codebase.md
  Home/.claude/commands/gsd/plan-fix.md
  Home/.claude/commands/gsd/plan-phase.md
  Home/.claude/commands/gsd/progress.md
  Home/.claude/commands/gsd/remove-phase.md
  Home/.claude/commands/gsd/resume-work.md
  Home/.claude/commands/gsd/verify-work.md
  Home/.claude/commands/run-plan.md
  Home/.claude/commands/sc/agent.md
  Home/.claude/commands/sc/analyze.md
  Home/.claude/commands/sc/brainstorm.md
  Home/.claude/commands/sc/build.md
  Home/.claude/commands/sc/cleanup.md
  Home/.claude/commands/sc/git.md
  Home/.claude/commands/sc/implement.md
  Home/.claude/commands/sc/improve.md
  Home/.claude/commands/sc/index-repo.md
  Home/.claude/commands/sc/index.md
  Home/.claude/commands/sc/load.md
  Home/.claude/commands/sc/pm.md
  Home/.claude/commands/sc/reflect.md
  Home/.claude/commands/sc/research.md
  Home/.claude/commands/sc/save.md
  Home/.claude/commands/sc/sc.md
  Home/.claude/commands/sc/task.md
  Home/.claude/commands/sc/troubleshoot.md
  Home/.claude/commands/sc/workflow.md
  Home/.claude/commands/setup.md
Due: normalize

Update and rename .bunfig.toml to bunfig.toml
  Home/.config/bunfig.toml
Due: normalize

Update settings.json
  Home/.gemini/settings.json
Due: biome, normalize

Update user.js
  Home/.mozilla/firefox/profile.default-release/user.js
Due: biome, normalize

Update codium-flags.conf
  Home/.config/codium-flags.conf
Due: normalize

Update code-flags.conf
  Home/.config/code-flags.conf
Due: normalize

Update AGENTS.md
  AGENTS.md
Due: normalize

Create AI-PROMPTS.md
  AI-PROMPTS.md
Due: normalize

Update README.md
  .github/README.md
Due: normalize

Update AI-PROMPTS.md
  AI-PROMPTS.md
Due: normalize

Update environment
  etc/environment
Due: normalize

Update .editorconfig
  .editorconfig
Due: normalize

Create mimeapps.list
  Home/.config/mimeapps.list
Due: normalize

Add files via upload
  Home/.config/Code/User/ext.txt
Due: normalize

Update config.fish
  Home/.config/fish/config.fish
Due: normalize

Update kwinrc
  Home/.config/kwinrc
Due: normalize

Create settings.json
  Home/.config/ulauncher/settings.json
Due: biome, normalize

Update Home/.claude/skills/python-cli-builder/scripts/cli_template.py
  Home/.claude/skills/python-cli-builder/scripts/cli_template.py
Due: normalize

Implement core logic in CLI template (#162)
  Home/.claude/skills/python-cli-builder/scripts/cli_template.py
Due: normalize

Create handlr.toml
  Home/.config/handlr/handlr.toml
Due: normalize

Update handlr.toml
  Home/.config/handlr/handlr.toml
Due: normalize

Create AI-PROMPTS-2.md
  docs/AI-PROMPTS-2.md
Due: normalize

refactor: apply flow-style formatting to reduce token usage
  Home/.claude/skills/ralph/SKILL.md
  Home/.claude/skills/ralph/ralph.ps1
  Home/.claude/skills/ralph/ralph.sh
Due: shell-format, normalize

feat: integrate skills with auto-triggers and cross-references
  Home/.claude/settings.json
  Home/.claude/skills/SKILLS.md
  Home/.claude/skills/bash-optimizer/SKILL.md
  Home/.claude/skills/codeagent/SKILL.md
  Home/.claude/skills/file-organizer/SKILL.md
  Home/.claude/skills/image-optimization/SKILL.md
  Home/.claude/skills/modern-tool-substitution/SKILL.md
  Home/.claude/skills/python-cli-builder/SKILL.md
  Home/.claude/skills/ralph/SKILL.md
  Home/.claude/skills/ralph/ralph.ps1
  Home/.claude/skills/toon-formatter/SKILL.md
Due: biome, normalize

Update opencode.json
  Home/.config/opencode/opencode.json
Due: biome, normalize

Rename AI-PROMPTS.md to docs/AI-PROMPTS.md
  docs/AI-PROMPTS.md
Due: normalize

Update Home/.local/bin/vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

Update .gitconfig
  Home/.gitconfig
Due: normalize

⚡ Optimize vidconv.py with parallel execution (#164)
  Home/.claude/skills/ralph/SKILL.md
  Home/.claude/skills/ralph/ralph.ps1
  Home/.claude/skills/ralph/ralph.sh
  Home/.local/bin/vidconv.py
Due: shell-format, normalize

Delete Home/.claude/skills directory
  Home/.claude/skills/SKILLS.md
  Home/.claude/skills/bash-optimizer/SKILL.md
  Home/.claude/skills/bash-optimizer/references/patterns.md
  Home/.claude/skills/bash-optimizer/references/standards.md
  Home/.claude/skills/bash-optimizer/scripts/analyze.py
  Home/.claude/skills/codeagent/SKILL.md
  Home/.claude/skills/file-organizer/SKILL.md
  Home/.claude/skills/image-optimization/SKILL.md
  Home/.claude/skills/modern-tool-substitution/SKILL.md
  Home/.claude/skills/python-cli-builder/SKILL.md
  Home/.claude/skills/python-cli-builder/references/patterns.md
  Home/.claude/skills/python-cli-builder/references/stdlib_perf.md
  Home/.claude/skills/python-cli-builder/scripts/cli_template.py
  Home/.claude/skills/python-cli-builder/scripts/common_utils.py
  Home/.claude/skills/python-cli-builder/scripts/log_component.py
  Home/.claude/skills/python-cli-builder/scripts/subprocess_helpers.py
  Home/.claude/skills/ralph/SKILL.md
  Home/.claude/skills/ralph/ralph.sh
  Home/.claude/skills/toon-formatter/SKILL.md
Due: shell-format, normalize

Path conditions:
  aglint: any of: lists/**/*.txt
  biome: any of: *.{js,mjs,cjs,json}
  yaml-lint: any of: *.{yml,yaml}
  shell-format: any of: *.sh
  normalize: any of: *, but not: \.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$
