Repository Ven0m0/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: aglint, biome, yaml-lint, shell-format, normalize

.lefthook.yml:

assert_lefthook_installed: true
skip_output: [meta, execution]
output: [summary, skips]
colors: true
min_version: 1.5.0

pre-commit:
  parallel: true
  commands:
    aglint:
      priority: 1
      glob: "lists/**/*.txt"
      run: |
        command -v bunx &>/dev/null || exit 0
        bunx @adguard/aglint {staged_files}
      fail_text: "AGLint failed"

    biome:
      priority: 2
      glob: "*.{js,mjs,cjs,json}"
      run: |
        command -v biome &>/dev/null || exit 0
        biome check --write --no-errors-on-unmatched --skip-parse-errors --use-editorconfig=true {staged_files}
        git add {staged_files}
      stage_fixed:  true

    yaml-lint:
      priority: 3
      glob: "*.{yml,yaml}"
      run:  |
        command -v yamllint &>/dev/null || exit 0
        yamllint {staged_files}

    shell-format:
      priority: 4
      glob: "*.sh"
      run: |
        command -v shfmt &>/dev/null || exit 0
        shfmt -w -i 2 -bn -ci -ln bash -s --apply-ignore {staged_files}
        command -v shellharden &>/dev/null && shellharden --replace -- {staged_files}
        git add {staged_files}
      stage_fixed: true

    normalize: 
      priority: 5
      glob: "*"
      exclude: "\\.(png|jpe?g|gif|ico|svg|woff2?|mp[34]|zip|gz|zst)$"
      run: |
        for f in {staged_files}; do
          sed -i 's/[[:space:]]*$//; s/\r$//' "$f"
        done
        git add {staged_files}
      stage_fixed:  true

Delete .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yaml-lint, normalize

Update actionlint.yml
  .github/actionlint.yml
Due: yaml-lint, normalize

Update config.toml
  Home/.config/mise/config.toml
Due: normalize

Update nvidia-application-profiles-rc
  Home/.nv/nvidia-application-profiles-rc
Due: normalize

Rename docs/BASH_PERFORMANCE.md to BASH_PERFORMANCE.md
  BASH_PERFORMANCE.md
Due: normalize

Rename .github/AGENTS.md to AGENTS.md
  AGENTS.md
Due: normalize

Update .bunfig.toml
  Home/.config/.bunfig.toml
Due: normalize

Update makepkg.conf
  etc/makepkg.conf
Due: normalize

Create launch.sh
  Home/.steam/steam/compatibilitytools.d/launch.sh
Due: shell-format, normalize

Create toolmanifest.vdf
  Home/.steam/steam/compatibilitytools.d/toolmanifest.vdf
Due: normalize

Create compatibilitytool.vdf
  Home/.steam/steam/compatibilitytools.d/compatibilitytool.vdf
Due: normalize

Create steam_dev.cfg
  Home/.steam/steam/steam_dev.cfg
Due: normalize

Update fstab
  etc/fstab
Due: normalize

Create vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

Delete Home/.local/bin/av1.py
  Home/.local/bin/av1.py
Due: normalize

Delete Home/.local/bin/bulk_handbrake.py
  Home/.local/bin/bulk_handbrake.py
Due: normalize

Update vidconv.py
  Home/.local/bin/vidconv.py
Due: normalize

Update config.fish
  Home/.config/fish/config.fish
Due: normalize

Update config
  Home/.ssh/config
Due: normalize

Add files via upload
  docs/heatmap_fn.pdf
  docs/heatmap_mc.pdf
Due: normalize

Create steam-native.sh
  Home/.local/bin/steam-native.sh
Due: shell-format, normalize

Create wallpaper-set.sh
  Home/.local/bin/wallpaper-set.sh
Due: shell-format, normalize

Create ksetwallpaper.py
  Home/.local/bin/ksetwallpaper.py
Due: normalize

Create av1pack.sh
  Home/.local/bin/av1pack.sh
Due: shell-format, normalize

Create steam.desktop
  Home/.local/share/applications/steam.desktop
Due: normalize

Update .alsoftrc
  Home/.alsoftrc
Due: normalize

Update steam_dev.cfg
  Home/.steam/steam/steam_dev.cfg
Due: normalize

Update steam.desktop
  Home/.local/share/applications/steam.desktop
Due: normalize

Create steam.conf
  Home/.config/environment.d/steam.conf
Due: normalize

Create todo.md
  todo.md
Due: normalize

Delete usr/lib/systemd/user.conf.d/20-custom.conf
  usr/lib/systemd/user.conf.d/20-custom.conf
Due: normalize

Delete usr/lib/systemd/system.conf.d/20-custom.conf
  usr/lib/systemd/system.conf.d/20-custom.conf
Due: normalize

Update awk.json
  etc/alternatives/awk.json
Due: biome, normalize

Update sdboot-manage.conf
  etc/sdboot-manage.conf
Due: normalize

Update 50-usb-power-gaming.rules
  etc/udev/rules.d/50-usb-power-gaming.rules
Due: normalize
